.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h1{
  font-weight: 500;
  color: orangered;
  padding-left: 50px;
}
h2{
  font-weight: 200;
  padding-top: 10px;
  color: purple;
}

.container{
  max-width: 500px;
  margin-left: 400px;
}
.quantity{
 width: fit-content;
  box-shadow: 0px 0px 8px 5px red;
  align-items: center;
  text-align: center;
  margin-left: 20px;
}
.quantity_minus {
  background-color: purple;
  color: orangered;
  transition: all 0.3s ease;
}
.quantity_minus:hover{
  background-color: aliceblue;
  transition: all 0.3s ease;
  cursor:pointer;
}
.quantity_minus span{
  padding-left: 10px;
  padding-right: 10px;
}

.quantity_plus {
  background-color: purple;
  color: orangered;
  height: fit-content;
  transition: all 0.3s ease;
  cursor:pointer;
  
   
  
}
.quantity_plus:hover{
  background-color: aliceblue;
  transition: all 0.3s ease;
}
.quantity_plus span{
  padding-left: 10px;
  padding-right: 10px;
  
  
}

.quantity_input{
  max-width: max-content;
  border: none;
  align-items: center;
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: orchid;

  
  
}